<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <class>org.thirdplace.HangoutPlugin</class>
    <name>Third Place Hangout</name>
    <description>Third Place Event service</description>
    <author>Yang Yu</author>
    <version>1.0.0</version>
    <date>12/20/2014</date>
    <minServerVersion>3.9.0</minServerVersion>
    <databaseKey>thirdplace</databaseKey>
    <databaseVersion>0</databaseVersion>
    <licenseType>internal</licenseType>
</plugin>
